<div class="container-fluid">

    <div class="row" *ngIf="refreshInProgress">
      <mat-progress-bar class="mb-3" mode="determinate" value="{{currentProgress}}"></mat-progress-bar>
    </div>
    <div class="row">
        <div class="col-2">
          <div class="input-group float-left">
    
            <select (change)="changePortfolio($event.target.value)" class="w-50">
              <option *ngFor="let portfolio of portfolios" [value]="portfolio.portfolio_id" class="text-lg-center" [selected]="portfolio.portfolio_id == this.activePortId" >
                {{portfolio.portfolio_name}} ({{portfolio.portfolio_id}})
              </option>
            </select>
    
            <div class="btn-group p-0" >
              <button mat-icon-button (click)="openAddNewPFDialog()" title="Add new PF" class="m-0">
                <mat-icon>add</mat-icon>
              </button>
    
              <button mat-icon-button (click)="removeAPF()" title="Remove PF" class="m-0">
                <mat-icon>close</mat-icon>
              </button>
              <!-- <button mat-icon-button color="warn" (click)="updateStockDetails()" [disabled]='refreshInProgress'>
                                <mat-icon [class.fa-rotate]='refreshInProgress' >download</mat-icon>
                                <mat-icon class='fa-rotate'>refresh</mat-icon>
                            </button> -->
    
    
            </div>
          </div>
        </div>
        <div class="col-5">
            <div class="row">
                <mat-form-field class="col-4">
                    <mat-label>Stock Name</mat-label>
                    <input type="text" matInput [matAutocomplete]="auto" 
                    (keyup)="getStockList($event)" [value]="currentStock.stock_name">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let stock of stockAutoCompleteList" [value]="stock.stock_name" style="font-size: small;"
                      (click)="currentStock=stock; getExpiryStrikePrice();">
                        {{trimChars(stock.stock_name, 25)}} <span class="badge badge-info">{{getStockFromId(stock.stock_id).stock_current_price_live}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                
                  <mat-form-field class="col-2">
                      <mat-label>Type</mat-label>
                      <mat-select (selectionChange)="setOptionType($event.value)">
                          <mat-option value="CE" style="font-size: small;">CALL</mat-option>
                          <mat-option value="PE" style="font-size: small;">PUT</mat-option>
                          <!-- <mat-option value="365">365</mat-option> -->
                      </mat-select>
                  </mat-form-field>
      
      
      
                  <mat-form-field class="col-2">
                      <mat-label>Expiry</mat-label>
                      <mat-select (selectionChange)="setExpiry($event.value)">
                          <mat-option value={{expiry}} *ngFor="let expiry of stockOptionsExpiry" style="font-size: small;">{{expiry}}</mat-option>
                          <!-- <mat-option value="365">365</mat-option> -->
                      </mat-select>
                  </mat-form-field>
      
      
                  <mat-form-field class="col-2">
                      <mat-label>Strike</mat-label>
                      <mat-select (selectionChange)="setStrikePrice($event.value)">
                          <mat-option value={{price}} *ngFor="let price of stockOptionsStrikePrice" style="font-size: small;">{{price}}</mat-option>
                          <!-- <mat-option value="365">365</mat-option> -->
                      </mat-select>
                  </mat-form-field>
                  <div class="col-1 d-flex align-items-center justify-content-center">
                    <button mat-icon-button (click)="addOption()" title="add to active set">
                        <mat-icon>add</mat-icon>
                    </button>
                  </div>
            </div>
            


        </div>
        <div class="col-5">
            <table class="table table-sm table-borderless m-0 float-left p-0 font-weight-light" style="font-size: small;">
                
                <tr style="font-size:medium;">
                    <td>
                        ₹ {{roundFloat(totalInvestment)}}
                    </td>
                    <td>
                        ₹ {{roundFloat(currentValue)}}
                    </td>
                    <td>
                        ₹ {{roundFloat(unrealPL)}}
                        <span class="badge font-weight-light" [class.text-success]="unrealPL>0" [class.text-danger]="unrealPL<=0">
                            {{roundFloat(unrealPL*100/totalInvestment)}}%
                        </span>
                    </td>
                    <td class="align-content-center">
                        ₹ {{roundFloat(unrealP)}}
                        <span class="badge font-weight-light" [class.text-success]="unrealP>0" [class.text-danger]="unrealP<=0">
                            {{roundFloat(unrealP*100/totalInvestment)}}%
                        </span>
                    </td>
                    <td>₹ {{roundFloat(realPL)}}</td>
                    <td>₹ {{roundFloat(realPLD)}}</td>
                    <td>₹ {{roundFloat(realPLS)}}</td>

                </tr>
                <tr style="font-size:small;">
                    <td>Total Inv.</td>
                    <td>Cur Value</td>
                    <td>Unreal. P/L</td>
                    <td>Unreal. P</td>
                    <td>Real. P/L</td>
                    <td>Real. P/L (Day)</td>
                    <td>Real. P/L (Session)</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-3" >
            
            <div class="row">
                <div class="col-12">
                    <div class="card shadow ">
                        <div class="card-header">
                            Active Options <span class="badge badge-info">{{getLen(activeOptions | filterObjectByKey:'opt_symbol':aoFilterValue | filterObjectByExpiry: expiredFlag )}}</span>
                        
                            <!-- <button mat-icon-button (click)="getAllStocks();">
                                <mat-icon>refresh</mat-icon>
                            </button> -->
                            <div style="font-size:small;" class="d-inline">
                                <mat-form-field class="m-0 p-0 ml-3">
                                    <mat-label>Search Ticker</mat-label>
                                    <input matInput type="text" (keyup)="aoFilterValue=$event.target.value" [value]="aoFilterValue">
                
                                    <button *ngIf="aoFilterValue" matSuffix mat-icon-button aria-label="Clear" (click)="aoFilterValue=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    
                                </mat-form-field>
                                <mat-checkbox class="m-0 ml-1" (change)="updateExpiredFlag($event.checked)">All</mat-checkbox>
                                <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'CE', 'ao')">CE</mat-checkbox>
    
                                <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'PE', 'ao')">PE</mat-checkbox>
    
                            </div>
                            <br>
                            <div class="row">
                                <div style="font-size:small;" class="btn-group">
                                    <button type="button" class="btn btn-sm" (click)="aoSortAttrib='change'" [class.btn-primary]="aoSortAttrib=='change'">change</button>
                                    <button type="button" class="btn btn-sm" (click)="aoSortAttrib='date'" [class.btn-primary]="aoSortAttrib=='date'">date</button>
                                    <button type="button" class="btn btn-sm" (click)="aoSortAttrib='symbol'" [class.btn-primary]="aoSortAttrib=='symbol'" >symbol</button>
                                    <button type="button" class="btn btn-sm" (click)="aoSortAttrib='price'" [class.btn-primary]="aoSortAttrib=='price'">price</button>
                                </div>

                                <div style="font-size:small;" class="btn-group ml-1">
                                    <button type="button" class="btn btn-sm" (click)="aoSortOrd=!aoSortOrd">
                                        <mat-icon *ngIf="aoSortOrd">arrow_upward</mat-icon>
                                        <mat-icon *ngIf="!aoSortOrd">arrow_downward</mat-icon>
                                    </button>
                                </div>
                            </div>
                            
                            
                            <!-- <input  matInput type="text" class="form-control" placeholder="ticker" aria-label="ao_search" > -->
                         
                        </div>
                        <div style="height: 40vh; overflow-y: auto;">
                            <table class="table table-sm" style="font-size: small;">
                                
                                <tr class="ao_row" *ngFor="let option of activeOptions | filterObjectByKey:'opt_symbol':aoFilterValue | filterObjectByExpiry: expiredFlag | filterObjectByKeyAgainstList: 'opt_type':optTypes | sort: aoSortAttrib: aoSortOrd"  (click)="getHistoricData(option); currentActiveOption=option;  setNewInvestment(); getLive(option); invToSell=undefined;" [className]="currentActiveOption && currentActiveOption.opt_id==option.opt_id?'border border-dark border-1':'border border-1'">
                                    <!-- <td>
                                        <mat-icon style="transform: scale(0.3);" [class.d-none]="optionAlert[option.opt_id]==='NEUTRAL'" [class.text-success]="optionAlert[option.opt_id]==='GOOD'" [class.text-danger]="optionAlert[option.opt_id]==='BAD'" [class.text-warning]="optionAlert[option.opt_id]==='WATCH'">circle</mat-icon>
                                    </td> -->
                                    <td class="text-left">
                                        <a href="{{getStockFromId(option['opt_stock_id'])['stock_site_url']}}" [className]="isActiveInvest(option)?'font-weight-bolder':''">
                                        {{option['opt_symbol']}}
                                        </a>
                                        <span  style="width: 40px;" [className]="getStockFromId(option['opt_stock_id'])['stock_current_price_live'] > getStockFromId(option['opt_stock_id'])['stock_current_price'] ? 'badge  p-1 badge-success': 'badge  p-1 badge-danger'">
                                            {{getStockFromId(option['opt_stock_id'])['stock_current_price_live']}}
                                        </span>
                                        <div style="font-size: smaller;">
                                            <span class="text-warning">
                                                {{option['opt_mkt_lot']}}
                                            </span>
                                            <span [class.text-danger]="option['opt_type'] === 'PE'" [class.text-success]="option['opt_type'] === 'CE'">
                                                {{option['opt_type']}}
                                            </span>
                                            {{option['opt_expiry_date']}} 
                                            {{option['opt_strike_price']}}
                                            
                                        </div>
                                        
                                    </td>
                                    <td>

                                        <span class="badge badge-warning  p-1 rounded-0" style="width: 40px;" *ngIf="option['opt_type'] === 'PE'">
                                            {{roundFloat(option['opt_strike_price'] - getStockFromId(option['opt_stock_id'])['stock_current_price_live'])}}
                                        </span>
                                        <span class="badge badge-warning  p-1 rounded-0" style="width: 40px;" *ngIf="option['opt_type'] === 'CE'">
                                            {{roundFloat(getStockFromId(option['opt_stock_id'])['stock_current_price_live'] - option['opt_strike_price'])}}
                                        </span>
                                        
                                        <span style="width: 40px;" [className]="option['opt_last_price_live'] > option['opt_last_price'] ? 'badge  p-1 badge-success rounded-0': 'badge  p-1 badge-danger rounded-0'" title="{{option['opt_last_price_live'] - option['opt_last_price']}}">
                                            {{option['opt_last_price_live']}}
                                        </span>
                                        <span style="width: 40px;" class="badge badge-light">
                                            <!-- {{roundFloat(getAbs(option['opt_last_price_live']/(getStockFromId(option['opt_stock_id'])['stock_current_price_live'] - option['opt_strike_price'])))}} -->
                                            <span *ngIf="option['opt_last_price_live'] - option['opt_last_price'] > 0">+</span>
                                            <span *ngIf="option['opt_last_price_live'] - option['opt_last_price'] < 0">-</span>
                                            {{roundFloat(getAbs(option['opt_last_price_live'] - option['opt_last_price']))}}
                                        </span>
                                        
                                    </td>
                                    
                                    <td>
                                        <span class="float-right">
                                            ₹ {{roundFloat(option['opt_mkt_lot']*option['opt_last_price_live'])}}
                                        </span>
                                    
                                    </td>
                                    <td>
                                        <button mat-icon-button (click)="deleteOption(option)" title="Remove Option">
                                            <mat-icon style="transform: scale(0.7);" class="text-danger">cancel</mat-icon>
                                        </button>
                                        <!-- <mat-icon style="transform: scale(0.8);"  color="red" style="cursor: pointer;">close</mat-icon> -->
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-12">
                    <div class="card shadow  mt-2" *ngIf="currentActiveOption">
                        <div class="card-header">
                            Transact
                            
                        </div>
                        <form *ngIf="invToSell">

                            <div class="list-group list-group-flush m-0" style="font-size: small;">
                                <button type="button" class="list-group-item d-flex justify-content-between align-items-center">
                                    
                                    {{getOptionFromId(invToSell['opt_id'])['opt_symbol']}}
                                    <span class="badge badge-info m-0">
                                        {{getStockFromId(currentActiveOption['opt_stock_id'])['stock_current_price_live']}}
                                    </span>
                                    
                                    <span [class.text-danger]="currentActiveOption['opt_type'] === 'PE'" [class.text-success]="currentActiveOption['opt_type'] === 'CE'">
                                        {{getOptionFromId(invToSell['opt_id'])['opt_type']}}
                                    </span>
                                    <span class="text-muted">
                                        {{getOptionFromId(invToSell['opt_id'])['opt_expiry_date']}}
                                    </span>
                                    <span class="badge badge-light">
                                        {{getOptionFromId(invToSell['opt_id'])['opt_strike_price']}}
                                    </span>
                                </button>
                                <!-- <button class="text-muted">
                                    Profit: {{invToSell.total_sell_price- invToSell.total_cost_price}}
                                </button> -->
                            </div>
                            <div class="row m-2 justify-content-between align-items-center">
                                <mat-form-field class="col-2">
                                    <mat-label>Profit</mat-label>
                                    <input matInput disabled
                                    [value]='invToSell.total_sell_price- invToSell.total_cost_price'>
                                </mat-form-field>
                                <mat-form-field class="col-2">
                                    <mat-label>Lot</mat-label>
                                    <input matInput disabled
                                    [value]='invToSell["total_qty"]'>
                                </mat-form-field>
                                <mat-form-field  class="col-2">
                                    <mat-label>Price/Unit</mat-label>
                                    <input matInput
                                    [value]='roundFloat(invToSell["total_sell_price"]/invToSell["total_qty"])' (keyup)='invToSell.total_sell_price=invToSell["total_qty"]*$event.target.value'>
                                </mat-form-field>
                            
                                <mat-form-field class="col-2 m-0">
                                    <mat-label>Total SP</mat-label>
                                    <input matInput (keyup)='invToSell.total_sell_price=$event.target.value'
                                        [value]='invToSell.total_sell_price==undefined?0:invToSell.total_sell_price'>
                                </mat-form-field>
                                <mat-form-field class="col-3 m-0">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]="picker" (dateInput)="setInvestmentSellDate($event)" [formControl]="today" (dateChange)="setInvestmentSellDate($event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker ></mat-datepicker>
                        
                                    <!-- <input matInput disabled [value]='newInvestment.inv_date'> -->
                                    
                                </mat-form-field>
                            </div>
                            <div class="row m-2 d-flex justify-content-end align-items-end">
                                <div class="btn-group">
                                    <button mat-raised-button (click)="sellInvestment(inv)" >Sell</button>
                                    <button mat-raised-button (click)="invToSell=undefined" >Cancel</button>
                                </div>
                            </div>

                        </form>
                        <form *ngIf="!invToSell">

                            <div class="list-group list-group-flush m-0" style="font-size: small;">
                                <button type="button" class="list-group-item d-flex justify-content-between align-items-center">
                                    {{currentActiveOption['opt_symbol']}}
                                    <span class="badge badge-info m-0">
                                        {{getStockFromId(currentActiveOption['opt_stock_id'])['stock_current_price_live']}}
                                    </span>
                                    
                                    <span [class.text-danger]="currentActiveOption['opt_type'] === 'PE'" [class.text-success]="currentActiveOption['opt_type'] === 'CE'">
                                        {{currentActiveOption['opt_type']}}
                                    </span>
                                    <span class="text-muted">
                                        {{currentActiveOption['opt_expiry_date']}}
                                    </span>
                                    <span class="badge badge-light">
                                        {{currentActiveOption['opt_strike_price']}}
                                    </span>
                                </button>
                            </div>
                            <br>
                            
                            <div class="row m-2 justify-content-between align-items-center">
                                <mat-form-field class="col-2">
                                    <mat-label>Lot</mat-label>
                                    <input matInput disabled
                                    [value]='currentActiveOption.opt_mkt_lot'>
                                </mat-form-field>
                                <mat-form-field  class="col-2">
                                    <mat-label>Price/Unit</mat-label>
                                    <input matInput (keyup)='newInvestment.inv_total_cost=currentActiveOption["opt_mkt_lot"]*$event.target.value'
                                    [value]='roundFloat(newInvestment.inv_total_cost/currentActiveOption.opt_mkt_lot)'>
                                </mat-form-field>
                            
                                <mat-form-field class="col-2 m-0">
                                    <mat-label>Total CP</mat-label>
                                    <input matInput (keyup)='newInvestment.inv_total_cost=$event.target.value'
                                        [value]='newInvestment.inv_total_cost==undefined?0:newInvestment.inv_total_cost'>
                                </mat-form-field>
                                <mat-form-field class="col-3 m-0">
                                    <mat-label>Date</mat-label>
                                    <input matInput [matDatepicker]="picker" (dateInput)="setInvestmentDate($event)" (dateChange)="setInvestmentDate($event)" [formControl]="today">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker ></mat-datepicker>
                        
                                    <!-- <input matInput disabled [value]='newInvestment.inv_date'> -->
                                    
                                </mat-form-field>
                            </div>
                            <div class="row m-2 d-flex justify-content-end align-items-end">
                                <button mat-raised-button class="float-right" (click)="addInvestment()">Buy</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card shadow ">
                        <div class="card-header">
                             Option Bets <span class="badge badge-info">{{getLen(this.optionBets)}}</span>
                             <div style="font-size:small;" class="d-inline">
                                <mat-form-field class="m-0 p-0 ml-3">
                                    <mat-label>Search Ticker</mat-label>
                                    <input matInput type="text" #obFilterInput>
                                    <button *ngIf="obFilterInput.value !== ''" matSuffix mat-icon-button aria-label="Clear" (click)="obFilterInput.value=''">
                                        <mat-icon>close</mat-icon>
                                      </button>
                                </mat-form-field>
                                <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'CE', 'ob')">CE</mat-checkbox>
    
                                <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'PE', 'ob')">PE</mat-checkbox>
    
                                <!-- <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'CE')">CE</mat-checkbox>
    
                                <mat-checkbox class="m-0 ml-1" (change)="updateOptionType($event.checked, 'PE')">PE</mat-checkbox> -->
    
                            </div>
                    
                        </div>
                        <div style="height: 40vh; overflow-y: auto;">
                        <table class="table table-sm" style="font-size: small;">
                            
                                <tr *ngFor="let option of this.optionBets | filterObjectByKey:'opt_symbol':obFilterInput.value | filterObjectByKeyAgainstList: 'opt_type':optTypesBet">
                                    
                                    <td class="text-left" [className]="isActiveOption(option)?'bg-warning':''">
                                        <a href="{{getStockFromId(option['opt_stock_id'])['stock_site_url']}}">
                                        {{option['opt_symbol']}}
                                        </a>
                                        <span style="width: 40px;" [className]="getStockFromId(option['opt_stock_id'])['stock_current_price_live'] > getStockFromId(option['opt_stock_id'])['stock_current_price'] ? 'badge  p-1 badge-success': 'badge  p-1 badge-danger'">
                                            {{getStockFromId(option['opt_stock_id'])['stock_current_price_live']}}
                                        </span>
                                        <div style="font-size: smaller;">
                                            <span class="text-warning">
                                                {{option['opt_mkt_lot']}}
                                            </span>
                                            <span [class.text-danger]="option['opt_type'] === 'PE'" [class.text-success]="option['opt_type'] === 'CE'">
                                                {{option['opt_type']}}
                                            </span>
                                            {{option['opt_expiry_date']}} 
                                            {{option['opt_strike_price']}}
                                        </div>
                                        
                                    </td>
                                    <td>

                                        <span class="badge badge-warning  p-1 rounded-0" style="width: 40px;" *ngIf="option['opt_type'] === 'PE'">
                                            {{roundFloat(option['opt_strike_price'] - getStockFromId(option['opt_stock_id'])['stock_current_price_live'])}}
                                        </span>
                                        <span class="badge badge-warning  p-1 rounded-0" style="width: 40px;" *ngIf="option['opt_type'] === 'CE'">
                                            {{roundFloat(getStockFromId(option['opt_stock_id'])['stock_current_price_live'] - option['opt_strike_price'])}}
                                        </span>
                                        
                                        <span style="width: 40px;" [className]="option['opt_last_price_live'] > option['opt_last_price'] ? 'badge  p-1 badge-success rounded-0': 'badge  p-1 badge-danger rounded-0'" title="{{option['opt_last_price_live'] - option['opt_last_price']}}">
                                            {{option['opt_last_price_live']}}
                                        </span>
                                        <span style="width: 40px;" class="badge badge-light">
                                            {{roundFloat(getAbs(option['opt_last_price_live']/(getStockFromId(option['opt_stock_id'])['stock_current_price_live'] - option['opt_strike_price'])))}}
                                        </span>
                                        
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        <span class="float-right">
                                            ₹ {{roundFloat(option['opt_last_price_live']*option['opt_mkt_lot'])}}
                                        </span>
                                    </td>
                                    <td>
                                        <mat-icon style="transform: scale(0.5);" (click)="addToActive(option)" color="red" style="cursor: pointer;">add</mat-icon>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>  
            </div>
            
        </div>
        <div class="col-5">
            
            <!-- <div class="card  mt-2" *ngIf="currentActiveOption">
                <div class="card-header">
                    Holdings
                </div>
                <div class="list-group list-group-flush m-0" style="max-height: 50%; overflow-y: auto;">
                    
                    <table mat-table [dataSource]="optionsInvs" class="mat-elevation-z8">

                        <ng-container matColumnDef="optionName">
                          <th mat-header-cell *matHeaderCellDef>Option</th>
                          <td mat-cell *matCellDef="let inv">
                            {{getOptionFromId(inv['opt_id'])['opt_symbol']}}
                            <p class="text-muted m-0">
                                
                                {{getOptionFromId(inv['opt_id'])['opt_type']}}
                            
                                {{getOptionFromId(inv['opt_id'])['opt_expiry_date']}}
                            
                                {{getOptionFromId(inv['opt_id'])['opt_strike_price']}}
                            
                            </p>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="qty">
                            <th mat-header-cell *matHeaderCellDef>Units</th>
                            <td mat-cell *matCellDef="let inv"
                              >
                              {{roundFloat(inv.total_qty)}}
                            </td>
                          </ng-container>

                        <ng-container matColumnDef="nowPrice">
                          <th mat-header-cell *matHeaderCellDef>SP</th>
                          <td mat-cell *matCellDef="let inv"
                            >
                            {{roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price'] * inv.total_qty)}}
                            <p class="text-muted m-0">
                                {{roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price'])}} / unit
                            </p>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="buyPrice">
                            <th mat-header-cell *matHeaderCellDef>BP</th>
                            <td mat-cell *matCellDef="let inv"
                              >
                              {{roundFloat(inv.total_cost_price)}}
                              <p class="text-muted m-0">
                                {{roundFloat(inv.total_cost_price/inv.total_qty)}} / unit
                            </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="P/L">
                            <th mat-header-cell *matHeaderCellDef>P/L</th>
                            <td mat-cell *matCellDef="let inv"
                             [class.bg-danger]="getOptionFromId(inv['opt_id'])['opt_last_price'] * inv.total_qty - inv.total_cost_price <= 0"
                             [class.bg-success]="getOptionFromId(inv['opt_id'])['opt_last_price'] * inv.total_qty - inv.total_cost_price > 0"
                              >
                                {{ roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price'] * inv.total_qty - inv.total_cost_price) }}
                                <p class="m-0 text-light">
                                    {{roundFloat((getOptionFromId(inv['opt_id'])['opt_last_price'] * inv.total_qty - inv.total_cost_price) * 100 / inv.total_cost_price)}} %
                                </p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let inv">
                                <button mat-icon-button (click)="removeInvestment(inv.id)" title="Remove Investment">
                                    <mat-icon class="text-danger">cancel</mat-icon>
                                </button>
                                <button mat-icon-button title="Sell Investment" (click)="invToSell=inv">
                                    <mat-icon class="text-warning">sell</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="txColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: txColumns;"></tr>
                    </table>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="updateCharts($event)">
                        <mat-tab label="Live Data" style="height: 400px;">
                            <div *ngIf="currentActiveOption" class="card shadow border border-2" [class.border-danger]="getTimeDiff(curTime, lastLiveOptionUpdateTime) > 120" id="option-live-data"></div>
                            <div *ngIf="currentActiveOption" class="card shadow border border-2 mt-1" [class.border-danger]="getTimeDiff(curTime, lastLiveStockUpdateTime) > 120"  id="stock-live-data"></div>
                            <div *ngIf="currentActiveOption" class="card shadow border border-2 mt-1" [class.border-danger]="getTimeDiff(curTime, lastLiveStockUpdateTime) > 120"  id="stock-live-data-macd"></div>
                            
                        </mat-tab>
                        <mat-tab label="Historic Data" style="height: 400px;">
                            <div *ngIf="currentActiveOption" class="card shadow " id="option-historic-data"></div>
                            <div *ngIf="currentActiveOption" class="card shadow  mt-1" id="stock-price-history"></div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                
            </div>
        </div>
        <div class="col-4">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="drawPieCharts($event)">
                
                <mat-tab>
                    <ng-template mat-tab-label>
                        Holdings 
                        <span class="badge badge-info ml-1">
                            {{getLen(filterInv(optionsInvs, 'HOLD'))}}
                        </span>
                    </ng-template>
                    <div class="card shadow ">
                        <table mat-table [dataSource]="filterInv(optionsInvs, 'HOLD')" class="mat-elevation-z8 w-100 shadow">
                            
                            <ng-container matColumnDef="alert">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let inv">
                                    <!-- [class.glowGreenCell]="getProfitPerc(inv) >= 20" [class.glowRedCell]="getProfitPerc(inv) < -20"  -->
                                    <mat-icon style="transform: scale(0.2); color: white;" [class.glowGreenCell]="getProfitPerc(inv) >= 20" [class.glowRedCell]="getProfitPerc(inv) < -20" [class.text-danger]="getProfitPerc(inv) < -20" [class.text-success]="getProfitPerc(inv) >= 20" 
                                        class="rounded-circle m-0">
                                        circle
                                    </mat-icon>
                                
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="optionName">
                                <th mat-header-cell *matHeaderCellDef>Option</th>
                                <td mat-cell *matCellDef="let inv" [class.font-weight-bolder]="checkITM(inv['opt_id'])">
                                
                                    <a href="{{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_site_url']}}">
                                        
                                        {{getOptionFromId(inv['opt_id'])['opt_symbol']}}
                                    </a>    
                                <span style="width: 40px;" [className]="getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live'] > getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price'] ? 'badge  p-1 badge-success': 'badge  p-1 badge-danger'" title="{{roundFloat(getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live'] - getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price'])}}">
                                    {{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live']}}
                                </span>
                                <p class="text-muted m-0">
                                    
                                    <span [className]="getOptionFromId(inv['opt_id'])['opt_type'] == 'CE'?'text-success': 'text-danger'">
                                        {{getOptionFromId(inv['opt_id'])['opt_type']}}
                                    </span>
                                
                                    {{getOptionFromId(inv['opt_id'])['opt_expiry_date']}}
                                
                                    {{getOptionFromId(inv['opt_id'])['opt_strike_price']}}
                                
                                </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="qty">
                                <th mat-header-cell *matHeaderCellDef>Units</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{roundFloat(inv.total_qty)}}
                                    <p class="text-muted m-0">
                                        {{inv.buy_date}}
                                    </p>
                                </td>
                                </ng-container>
    
                            <ng-container matColumnDef="nowPrice">
                                <th mat-header-cell *matHeaderCellDef>SP</th>
                                <td mat-cell *matCellDef="let inv"
                                >
                                {{roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price_live'] * inv.total_qty)}}
                                <p class="m-0" style="font-size: smaller;" [class.text-success]="getOptionFromId(inv['opt_id'])['opt_last_price_live'] > getOptionFromId(inv['opt_id'])['opt_last_price']" [class.text-danger]="getOptionFromId(inv['opt_id'])['opt_last_price_live'] < getOptionFromId(inv['opt_id'])['opt_last_price']">
                                    {{roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price_live'])}} /unit
                                </p>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="buyPrice">
                                <th mat-header-cell *matHeaderCellDef>BP</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{roundFloat(inv.total_cost_price)}}
                                    <p class="text-muted m-0">
                                    {{roundFloat(inv.total_cost_price/inv.total_qty)}} /unit
                                </p>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="P/L">
                                <th mat-header-cell *matHeaderCellDef>P/L</th>
                                <td mat-cell *matCellDef="let inv" 
                                    >
                                    {{ roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price_live'] * inv.total_qty - inv.total_cost_price) }} 
                                    <p class="percent m-0" [class.text-success]="getProfit(inv) >0" [class.text-danger]="getOptionFromId(inv['opt_id'])['opt_last_price_live'] * inv.total_qty - inv.total_cost_price <=0">
                                        {{roundFloat(getProfit(inv)* 100 / inv.total_cost_price)}}% | {{roundFloat(getProfit(inv)/inv.total_qty)}}
                                    </p>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let inv">
                                    <button mat-icon-button (click)="removeInvestment(inv.id)" title="Remove Investment">
                                        <mat-icon style="transform: scale(0.7);" class="text-danger">cancel</mat-icon>
                                    </button>
                                    <button mat-icon-button title="Sell Investment" (click)="setSellInv(inv)">
                                        <mat-icon style="transform: scale(0.7);" class="text-warning">sell</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="txColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: txColumns;" style="font-size: small;" (click)="currentActiveOption = getOptionFromId(row.opt_id); getHistoricData(getOptionFromId(row.opt_id)); setNewInvestment(); getLive(currentActiveOption); updateProfitProjection(row);" [className]="getOptionFromId(row.opt_id) === currentActiveOption?'border border-danger':''"></tr>
                        </table>
                    </div>
                    
                    <div class="card shadow  mt-2" *ngIf="getLen(getKeys(projProfits)) > 0">
                        <div class="card-header">
                            Profit Projection - {{currentActiveOption.opt_symbol}} / {{currentActiveOption.opt_type}} / {{currentActiveOption.opt_strike_price}} / {{currentActiveOption.opt_expiry_date}}
                        </div>
                        <table class="table table-sm">
                            
                            <tr *ngFor="let p of sortAscending(getNumKeys(projProfits))" [className]="projProfits[p].highlight?'bg-light':''">
                                <td>{{p}} %</td>
                                <td>₹ {{projProfits[p]['profit']}}</td>
                                <td>₹ {{projProfits[p]['total']}}</td>
                                <td>₹ {{projProfits[p]['perUnit']}} / unit</td>
                            </tr>
                            
                        </table>
                    </div>
                    <div id="holdings_category_pie"></div>
                </mat-tab>
                
                <mat-tab>
                    <ng-template mat-tab-label>
                        Sell History 
                        <span class="badge badge-info ml-1">
                            {{getLen(filterInv(optionsInvs, 'SOLD'))}}
                        </span>
                    </ng-template>
                    <div class="card shadow " style="height: 72vh; overflow-y: auto;">
                        <table mat-table [dataSource]="filterInv(optionsInvs, 'SOLD') | sort: 'sell_date': true" class="mat-elevation-z8 w-100 shadow">

                            <ng-container matColumnDef="optionName">
                                <th mat-header-cell *matHeaderCellDef>Option</th>
                                <td mat-cell *matCellDef="let inv">
                                
                                <a href="{{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_site_url']}}">
                                        
                                    {{getOptionFromId(inv['opt_id'])['opt_symbol']}}
                                </a>  
                                <span style="width: 40px;" [className]="getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live'] > getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price'] ? 'badge  p-1 badge-success': 'badge  p-1 badge-danger'" title="{{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live'] - getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price']}}">
                                    {{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live']}}
                                </span>
                                <!-- <span class="badge badge-info  p-1">
                                    {{getStockFromId(getOptionFromId(inv['opt_id'])['opt_stock_id'])['stock_current_price_live']}}
                                </span> -->
                                <p class="text-muted m-0">
                                    
                                    {{getOptionFromId(inv['opt_id'])['opt_type']}}
                                
                                    {{getOptionFromId(inv['opt_id'])['opt_expiry_date']}}
                                
                                    {{getOptionFromId(inv['opt_id'])['opt_strike_price']}}
                                
                                </p>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="qty">
                                <th mat-header-cell *matHeaderCellDef>Units</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{roundFloat(inv.total_qty)}}
                                    <p class="text-muted m-0">
                                        {{inv.buy_date}} |
                                        {{inv.sell_date}}
                                    </p>
                                </td>
                                </ng-container>
    
                            <ng-container matColumnDef="sellPrice">
                                <th mat-header-cell *matHeaderCellDef>SP</th>
                                <td mat-cell *matCellDef="let inv"
                                >
                                {{roundFloat(inv.total_sell_price)}}
                                <p class="text-muted m-0">
                                    {{roundFloat(inv.total_sell_price/inv.total_qty)}} / unit
                                </p>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="buyPrice">
                                <th mat-header-cell *matHeaderCellDef>BP</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{roundFloat(inv.total_cost_price)}}
                                    <p class="text-muted m-0">
                                    {{roundFloat(inv.total_cost_price/inv.total_qty)}} / unit
                                </p>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="CP/L">
                                <th mat-header-cell *matHeaderCellDef>CP/L</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{ roundFloat(getOptionFromId(inv['opt_id'])['opt_last_price_live']*inv.total_qty - inv.total_cost_price) }}
                                    <p class="percent m-0" [class.text-success]="getOptionFromId(inv['opt_id'])['opt_last_price_live']*inv.total_qty - inv.total_cost_price >0" [class.text-danger]="getOptionFromId(inv['opt_id'])['opt_last_price_live']*inv.total_qty - inv.total_cost_price <= 0">
                                        {{roundFloat((getOptionFromId(inv['opt_id'])['opt_last_price_live']*inv.total_qty - inv.total_cost_price) * 100 / inv.total_cost_price)}} %
                                    </p>
                                    <p class="text-muted m-0">
                                        {{getOptionFromId(inv['opt_id'])['opt_last_price_live']}} / unit
                                    </p>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="P/L">
                                <th mat-header-cell *matHeaderCellDef>P/L</th>
                                <td mat-cell *matCellDef="let inv"
                                    >
                                    {{ roundFloat(inv.total_sell_price - inv.total_cost_price) }}
                                    <p class="percent m-0" [class.text-success]="inv.total_sell_price - inv.total_cost_price >0" [class.text-danger]="inv.total_sell_price - inv.total_cost_price <= 0">
                                        {{roundFloat((inv.total_sell_price - inv.total_cost_price) * 100 / inv.total_cost_price)}} %
                                    </p>
                                    
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let inv">
                                    <button mat-icon-button (click)="removeInvestment(inv.id)" title="Remove Investment">
                                        <mat-icon class="text-danger">cancel</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="txSellColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: txSellColumns;" style="font-size: smaller;" (click)="currentActiveOption = getOptionFromId(row.opt_id); getHistoricData(getOptionFromId(row.opt_id)); setNewInvestment(); getLive(currentActiveOption); updateProfitProjection(row);" [className]="getOptionFromId(row.opt_id) === currentActiveOption?'border border-danger':''"></tr>
                        </table>
                    </div>
                    
                </mat-tab>
                <mat-tab label="Sell Stats">
                    <div class="card shadow ">
                        <div id="sell_history_category_pie"></div>
                        <div id="sell_history_stock_pie"></div>
                        <div id="pl-trend"></div>
                    </div>
                </mat-tab>
                
            
            </mat-tab-group>
        </div>
    </div>



</div>
