// .row
//     max-height: 400px
//     min-height: 100px
.mat-table
    td
        margin: 1px
    th
        margin: 1px

.example-card 
    max-width: 400px

.fa-rotate 
    animation: rotation 1s infinite linear


@keyframes rotation
    from
        transform: rotate(0deg)
    to
        transform: rotate(359deg)
